<div class="portfolio-container">
    <div class="portfolio-title">
        <h2 class="portfolio-title_main">Портфолио</h2>
        <p class="portfolio-title_sub">Какое-то очень захватывающее описание, чтобы вы захотели кликнуть и утонуть в информации</p>
    </div>
    <div class="portfolio-items">
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/1-adm.jpg" alt="1">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/2-adm.jpg" alt="2">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/3-adm.jpg" alt="3">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/4-adm.jpg" alt="4">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/5-adm.jpg" alt="5">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-item_cover">
                <img src="../../assets/6-adm.jpg" alt="6">
            </div>
            <div class="portfolio-item_description">
                <p class="portfolio-item_description_theme">UI-UX DESIGN</p>
                <h4 class="portfolio-item_description_title">Панель администрирования</h4>
                <p class="portfolio-item_description_text">Очень интригующее описание, заманивающее читателя xd. А если не сработает, есть следующая</p>
                <button class="portfolio-item_description_btn tertiary"><p>Подробнее</p> <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="portfolio-footer">
        <button class="portfolio-footer_btn secondary">Больше проектов</button>
    </div>
</div>