<div class="testimonial-container">
    <div class="testimonial-header">
        <h2 class="testimonial-header_title">Отзывы</h2>
        <p class="testimonial-header_sub">Эти люди слова на ветер не бросают, так что можете доверять сказанному ниже</p>
    </div>
    <div class="testimonial-content">
        <p class="testimonial-content_text">“Nulla efficitur nisl sit amet velit malesuada dapibus. Duis mollis felis turpis, nec semper odio convallis at. Curabitur imperdiet semper arcu, a finibus arcu suscipit in. Donec quis placerat nibh. Maecenas est purus, eleifend ac cursus sed, tincidunt ut sapien.
            Morbi ornare elit at libero suscipit porta.”</p>
        <p class="testimonial-content_author">Esther Howard</p>
        <p class="testimonial-content_company">Managing Director, ABC company</p>
    </div>
</div>