<div class="process-wrapper">
    <div class="process-info">
        <h2 class="process-info_title">Процесс работы</h2>
        <p class="process-info_text">
            Процесс веб-разработки подобен созданию уникального произведения искусства: начиная с первого штриха концепции, дизайн воплощают визию заказчика в красочный и функциональный мир веб-страниц,
            <br/><br/>
            в то время как программисты добавляют волшебство кода, превращая идеи в интерактивные и многогранные цифровые мастерские.</p>
    </div>
    <div class="process-stages">
        <div class="process-stage">
            <div class="process-stage_icon"><i class="fa-regular fa-clipboard"></i></div>
            <h3 class="process-stage_title">1. Изучение</h3>
            <p class="process-stage_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-stage adjective">
            <div class="process-stage_icon"><i class="fa-solid fa-chart-line"></i></div>
            <h3 class="process-stage_title">2. Аналитика</h3>
            <p class="process-stage_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-stage">
            <div class="process-stage_icon"><i class="fa-solid fa-pencil"></i></div>
            <h3 class="process-stage_title">3. Дизайн</h3>
            <p class="process-stage_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-stage adjective">
            <div class="process-stage_icon"><i class="fa-solid fa-laptop"></i></div>
            <h3 class="process-stage_title">4. Внедрение</h3>
            <p class="process-stage_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
    </div>
</div>