<div class="contact-container">
    <div class="contact-contacts">
        <div class="contact-title">
            <h2 class="contact-title_main">Let’s discuss your Project</h2>
            <p class="contact-title_sub">There are many variations of passages of Lorem Ipsu available. but the majority have suffered alte.</p>
        </div>
        <div class="contact-info">
            <div class="contact-points">
                <div class="contact-point">
                    <div class="contact-point_icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="contact-point_address">
                        <p class="contact-point_address_type">Адрес</p>
                        <p class="contact-point_address_info">Комарово, на недельку</p>
                    </div>
                </div>
                <div class="contact-point">
                    <div class="contact-point_icon">
                        <i class="fa-solid fa-at"></i>
                    </div>
                    <div class="contact-point_address">
                        <p class="contact-point_address_type">Почта</p>
                        <p class="contact-point_address_info">gmail.test@inbox.ru</p>
                    </div>
                </div>
                <div class="contact-point">
                    <div class="contact-point_icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="contact-point_address">
                        <p class="contact-point_address_type">Телефон</p>
                        <p class="contact-point_address_info">8-800-555-35-35</p>
                    </div>
                </div>
            </div>
            <div class="contact-socials">
                <div class="contact-socials_link_item"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="contact-socials_link_item"><i class="fa-brands fa-dribbble"></i></div>
                <div class="contact-socials_link_item"><i class="fa-solid fa-inbox"></i></div>
                <div class="contact-socials_link_item"><i class="fa-brands fa-behance"></i></div>
                <div class="contact-socials_link_item"><i class="fa-brands fa-vk"></i></div>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <div class="contact-form_title">
            <p class="contact-form_title_text">
                There are many variations of passages of Lorem Ipsu available,
                but the majority have suffered alte.
            </p>
        </div>
        <form class="contact-form_content" onsubmit="return false;">
            <div class="contact-form_group field">
                <input type="text" class="contact-form_field" placeholder="Name" name="name" id="name" required />
                <label for="name" class="contact-form_label">Имя*</label>
            </div>
            <div class="contact-form_group field">
                <input type="email" class="contact-form_field" placeholder="Name" name="email" id="email" required />
                <label for="email" class="contact-form_label">Почта*</label>
            </div>
            <div class="contact-form_group field">
                <input class="contact-form_field" placeholder="Name" name="address" id="address" />
                <label for="address" class="contact-form_label">Адрес</label>
            </div>

            <div class="contact-form_content_flex">
                <div class="contact-form_group field">
                    <input class="contact-form_field" placeholder="Name" name="bud" id="bud" required />
                    <label for="bud" class="contact-form_label">Бюджет*</label>
                </div>
                <div class="contact-form_group field">
                    <input class="contact-form_field" placeholder="Name" name="theme" id="theme" required />
                    <label for="theme" class="contact-form_label">Тема*</label>
                </div>
            </div>
            <div class="contact-form_group field">
                <input class="contact-form_field" placeholder="Name" name="address" id="text" required />
                <label for="text" class="contact-form_label">Сообщение*</label>
            </div>

            <button class="contact-form_submit secondary" type="submit">Отправить <i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</div>