<div class="footer-container">
    <div class="footer-logo">
        <div class="footer-logo_letter">B</div>
        <div class="footer-logo_surname">Borisov</div>
    </div>
    <div class="footer-links">
        <ul class="footer-nav_links">
            <li><a href="#">Главная</a></li>
            <li><a href="#about">Поговорим о</a></li>
            <li><a href="#process">Процесс</a></li>
            <li><a href="#portfolio">Портфолио</a></li>
            <li><a href="#blog">Блог</a></li>
            <li><a href="#tech">Сервисы</a></li>
            <li class="primary"><a href="#contact">Контакты</a></li>
        </ul>
    </div>
    <div class="footer-copy">КОПИРАЙТ</div>
</div>