<div class="skills-container">
    <div class="skills-opinion">
        <h2 class="skills-opinion_title">Какое мое Кунг-фу?</h2>
        <p class="skills-opinion_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at commodi corporis eum expedita illum modi neque odio porro quas ratione sint tempore temporibus, ullam ut! Ducimus iusto non sapiente.<br/><br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at aut consequatur culpa deleniti ducimus hic in ips</p>
        <button class="skills-btn primary">Опять ты?</button>
    </div>
    <div class="skills-list">
        <div class="skills-item">
            <h3 class="skills-item_title">Оптовый пользователь <span class="kek">:)</span></h3>
            <p class="skills-item_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis facere hic illo iusto minima odio.Architecto dolorem eos excepturi facere facilis inventore, minus odio optio quae quisquam? Odio, vitae?</p>
        </div>
        <div class="skills-item">
            <h3 class="skills-item_title">Пользователь опыта <span class="kek">-_-</span></h3>
            <p class="skills-item_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis facere hic illo iusto minima odio. Architecto dolorem eos excepturi facere facilis inventore, minus odio optio quae quisquam? Odio, vitae?</p>

        </div>
        <div class="skills-item">
            <h3 class="skills-item_title">Паучий девелопмент <span class="kek">@_@</span></h3>
            <p class="skills-item_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis facere hic illo iusto minima odio. Architecto dolorem eos excepturi facere facilis inventore, minus odio optio quae quisquam? Odio, vitae?</p>
        </div>
    </div>
</div>