<div class="call-container">
    <h1 class="call-container_title">
        У Вас есть идея Проекта?
        <br/>
        Давайте обсудим ваш проект!
    </h1>
    <p class="call-container_text">
        Не отказывайтесь, ведь все любят кушать, и этот тип тоже не исключение. Так что не стесняйтесь, вместе мы - сила!
    </p>

    <button class="call-container_btn primary"><p>Сработаемся</p><i class="fa-solid fa-arrow-right"></i></button>
</div>